/* ================= MOBILE RESPONSIVE ================= */
@media (max-width: 768px) {
  .CbnBox-rootBlack {
    display: none;
  }

  .top-bar {
    display: none;
  }

  .CbnBox-rootfull {
    background: #d1ac88;
    padding-bottom: 15px;
  }

  .CbnBox-root {
    max-width: 1340px;
    padding: 0px 16px;
    margin: auto;
    width: 100%;
  }

  .navbar {
    flex-wrap: wrap;
    gap: 10px;
    padding: 0px;
    width: 100%;
  }

  .logo {
  padding-left: 0px;
}

  .logo img {
    max-width: 80px;
  }

  .search-box {
    width: 100%;
    order: 3;
    padding: 10px;
  }

  .nav-right {
    display: none;
    order: 2;
    width: 100%;
  }

  .login-btn {
    order: 2;
    width: 100%;
    padding: 8px 12px;
    font-size: 12px;
  }

  .icon {
    font-size: 9px;
  }

  .icon i {
    font-size: 16px;
  }

  .CbnBox-root-bottom {
    overflow-x: auto;
    justify-content: flex-start;
    gap: 20px;
    padding: 25px;
  }

  .Cbn-items {
    min-width: 80px;
    flex: 0 0 auto;
  }

  .Cbn-items img {
    width: 50px;
    height: 50px;
  }

  /* Offer bar */
  .Cbn-offer-bar {
    margin-top: 10px;
  }

  .Cbn-offer-container {
    width: 100%;
    font-size: 12px;
    padding: 5px;
  }

  /* Slider */
  .Cbn-slider {
    height: 250px;
    margin: 10px;
  }

  .Cbn-content {
    left: 20px;
  }

  .Cbn-content h1 {
    font-size: 22px;
  }

  .Cbn-badge {
    font-size: 12px;
    padding: 6px 8px;
  }

  /* Arrows smaller */
  .arrow {
    width: 30px;
    height: 30px;
  }

  /* Popup */
  .Cbn-popup {
    width: 95%;
  }

  /* Floating button */
  .Cbn-floating-btn {
    font-size: 30px;
    right: 20px;
    bottom: 30px;
  }
}

/* ================= EXTRA SMALL DEVICES ================= */
@media (max-width: 480px) {
  .Cbn-content h1 {
    font-size: 18px;
  }

  .login-btn {
    font-size: 10px;
    padding: 6px 10px;
  }

  .Cbn-items img {
    width: 45px;
    height: 45px;
  }

  .Cbn-slider {
    height: 200px;
  }
}
