@media (max-width: 768px) {
  .CbnBox-rootBlack {
    display: none;
  }

  .top-bar {
    display: none;
  }

  .CbnBox-rootfull {
    background: #d1ac88;
    padding-bottom: 15px;
  }

  .CbnBox-root {
    max-width: 1340px;
    padding: 0px 16px;
    margin: auto;
    width: 100%;
  }

  .navbar {
    flex-wrap: wrap;
    gap: 10px;
    padding: 0px;
    width: 100%;
  }

  .logo {
    padding-left: 0px;
  }

  .logo img {
    max-width: 80px;
  }

  .search-box {
    width: 100%;
    order: 3;
    padding: 10px;
    margin-left: 0px;
  }

  .Cbn-space {
    width: 23%;
  }

  .nav-right {
    display: none;
    order: 2;
    width: 100%;
  }

  .login-btn {
    order: 2;
    width: 100%;
    padding: 8px 12px;
    font-size: 12px;
  }

  .icon {
    font-size: 9px;
  }

  .icon i {
    font-size: 16px;
  }

  .CbnBox-root-bottom {
    overflow-x: auto;
    justify-content: flex-start;
    gap: 20px;
    padding: 25px;
  }

  .CbnBox-root-bottom::-webkit-scrollbar {
    display: none;
  }

  .Cbn-items {
    min-width: 80px;
    flex: 0 0 auto;
  }

  .Cbn-items img {
    width: 50px;
    height: 50px;
  }

  .Cbn-offer-bar {
    margin-top: 10px;
  }

  .Cbn-offer-container {
    width: 100%;
    font-size: 12px;
    padding: 10px;
  }

  .Cbn-slider {
    height: 250px;
    margin: 10px;
  }

  .Cbn-content {
    left: 30px;
  }

  .Cbn-content h1 {
    font-size: 20px;
  }

  .Cbn-badge {
    font-size: 10px;
    padding: 2px 6px;
  }

  .arrow {
    width: 18px;
    height: 30px;
  }

  .left {
    left: 6px;
  }

  .right {
    right: 6px;
  }

  .dots {
    position: relative;
    bottom: 25px;
    width: 100%;
    text-align: center;
  }

  .dot {
    height: 3px;
    width: 3px;
    margin: 0 2px;
    background: #bbb;
    display: inline-block;
    border-radius: 10%;
  }

  .active {
    background: #d1ac88;
    width: 10px;
    margin: 0 2px;
    border-radius: 10%;
  }

  .container {
    max-width: 1276px;
    margin: auto;
    padding: 20px 10px;
  }

  .section-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
    position: relative;
  }

  .section-title::after {
    content: "";
    width: 40px;
    height: 3px;
    background: #d1ac88;
    position: absolute;
    bottom: -6px;
    left: 0;
  }

  .card-row {
    display: flex;
    gap: 16px;
    overflow-x: auto;
    scroll-behavior: smooth;
  }

  .card-row::-webkit-scrollbar {
    display: none;
  }

  .card {
    width: 180px;
    height: 250px;
    border-radius: 1px;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
    cursor: pointer;
    background: #ddd;
  }

  .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .card::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
  }

  .card span {
    position: absolute;
    bottom: 10px;
    left: 15px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    z-index: 2;
  }

  .Cbn-banner {
    flex-direction: column;
    gap: 30px;
    text-align: center;
    padding: 40px;
  }

  .Cbn-banner-left {
    max-width: 100%;
    margin-left: 0px;
  }

  .Cbn-benefit {
    color: #000;
    padding: 18px 16px;
    margin-bottom: 12px;
    margin-left: 0px;
  }

  .Cbn-benefit h3 {
    padding-left: 0px;
    font-size: 16px;
  }

  .Cbn-popup {
    width: 95%;
  }

  .Cbn-floating-btn {
    font-size: 30px;
    right: 20px;
    bottom: 30px;
  }

  .Cbn-bottom-nav {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    background: #fff;
    display: flex;
    justify-content: space-around;
    border: 3px solid #d1ac88;
    border-radius: 50px;
    padding: 4px 0px;
    height: 40px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    z-index: 9999;
  }

  .Cbn-bottom-item {
    text-align: center;
    font-size: 10px;
    cursor: pointer;
  }

  .Cbn-bottom-item i {
    font-size: 16px;
    display: block;
    margin-bottom: 2px;
  }

  .Cbn-bottom-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(6px);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    z-index: 1000;
    border-radius: 0px;
  }

  .Cbn-bottom-overlay.active {
    opacity: 1;
    visibility: visible;
  }

  .Cbn-kids-section-title {
    font-size: 18px;
    font-weight: 600;
  }

  .Cbn-kids-section-title::after {
    width: 40px;
    height: 3px;
  }

  .Cbn-kids-card {
    width: 152.3px;
    height: 200px;
  }

  .Cbn-kids-card span {
    bottom: 10px;
    font-size: 14px;
  }

  .Cbn-2ndbanner-title {
    font-size: 18px;
    font-weight: 600;
  }

  .Cbn-2ndbanner-title::after {
    width: 40px;
    height: 3px;
  }

  .Cbn-2ndbanner img {
    height: 260px;
  }

  .Cbn-2ndbanner-content {
    left: 20px;
  }

  .Cbn-2ndbanner-content h1 {
    font-size: 22px;
  }
}

@media (max-width: 480px) {
  .Cbn-content h1 {
    font-size: 18px;
  }

  .login-btn {
    font-size: 10px;
    padding: 6px 10px;
  }

  .Cbn-items img {
    width: 45px;
    height: 45px;
  }

  .Cbn-slider {
    height: 200px;
  }

  .Cbn-kids-section-title {
    font-size: 18px;
    font-weight: 600;
  }

  .Cbn-kids-section-title::after {
    width: 40px;
    height: 3px;
  }

  .Cbn-kids-card {
    width: 150px;
    height: 200px;
  }

  .Cbn-kids-card span {
    bottom: 10px;
    font-size: 14px;
  }

  .Cbn-2ndbanner-title {
    font-size: 18px;
  }

  .Cbn-2ndbanner-title::after {
    width: 40px;
    height: 3px;
  }

  .Cbn-2ndbanner img {
    height: 220px;
  }

  .Cbn-2ndbanner-content {
    left: 10px;
  }

  .Cbn-2ndbanner-content h1 {
    font-size: 18px;
  }

  .Cbn-2ndbanner-content p {
    font-size: 12px;
  }

  .Cbn-2ndbanner-content span {
    font-size: 16px;
  }
}
